#box1, #box2, #box3{
    margin: 10px;
}
#box1{
    background-color: grey;
    color: cyan;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 16px;
}
#box2{
    background-color: cyan;
    color: white;
    border-radius: 50%;
    border-color: cyan;
}
#box3{
    background-color: blue;
    color: white;
    border: 3px solid black;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px .5px .5px black;
}